/* General Styles */
body {
    font-family: 'Open Sans', sans-serif;
    max-width: 100%;
    margin: 0;
    padding: 0;
    font-size: 16px;
    background-color: #FFD6AF;
}

html,
body {
    height: 100%;
    margin: 0;
}

.wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

main {
    flex: 1;
}

/* Header */
header {
    display: grid;
    background-color: #6B4B3E;
    padding: 5px 10px;
}

.logo img {
    width: 100px;
    margin-left: 50px;
    padding: 10px;
}

nav {
    display: grid;
    align-items: center;
    justify-content: center;
}

nav ul {
    list-style: none;
    display: flex;
    gap: 0px;
    padding: 0;
    margin: 0;
}

nav ul li {
    position: relative;
    padding: 0px;
    margin: 0px;

}

nav ul li a {
    text-decoration: none;
    color: #fff;
    font-size: 16px;
    border-style: solid;
    border-width: 1px;
    text-transform: capitalize;
    padding-inline: 4px;
}

nav a:hover {
    background-color: #FFD6AF;
    color: #6B4B3E;
}

/* Hero Section */
.hero {
    display: flex;
    width: 100%;
    height: 500px;
    align-items: center;
    padding: 50px 20px;
    padding-top: 20px;
    padding-bottom: 20px;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.1)),
        url('../images/hero-image.jpg') no-repeat center center / cover;
    color: white
}


.hero-content {
    width: 80%;
}

.hero-content h1 {
    text-align: center;
}

.hero-content p {
    margin-top: 20px;
    margin-left: 20px;
    font-size: 20px;
    padding-right: 15px;
    text-align: justify;
    font-weight: normal;
}

.image-box {
    width: 40%;
    border-radius: 10px;
    resize: 40px;
    padding-right: 70px;
}

/* History Section */
.history {
    width: 100%;
    padding: 20px;
    background-color: #6B4B3E;
    align-items: center;
    color: white;
}

.history h2 {
    text-align: center;
    font-size: 24px;
    margin-bottom: 20px;
}

.history-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-right: 10px;
    width: 100%;
}

.history-content p {
    margin: 0 20px;
    text-align: justify;
    padding-right: 20px;
}

.history img {
    width: 20%;
    height: auto;
    border-radius: 10px;


}


/* Adventure Section */
.adventure {
    text-align: center;
    padding: 20px;
}

.gallery {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    gap: 5px;
    justify-content: center;
    align-items: center;
}

.gallery img {
    width: 100%;
    height: auto;
    border-radius: 10px;
}

/* contact us styling */
.contact-section {
    padding: 40px;
}

.contact-section iframe {
    width: 600px;
    height: 450px;
    border: 0;

}

.team-section {
    background: #f8f2f2;
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(208, 213, 138, 0.1);
}

.team-section h2 {
    color: #6B4B3E;
    font-size: 28px;
    text-align: center;
    font-weight: bold;
    font-family: sans-serif;
}

.team-container {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.team-member {
    background: #fff;
    border-radius: 10px;
    padding: 20px;
    width: 250px;
    text-align: center;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.team-member img {
    width: 100%;
    height: 200px;
    /* Fixed height */
    object-fit: cover;
    /* Ensures images fill the space */
    border-radius: 10px;
}

.team-member figcaption {
    margin-top: 10px;
}

form {
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

label {
    display: block;
    margin: 10px 0 5px;
    color: #333;
}

input[type="text"],
input[type="email"],
textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 4px;
    border: 1px solid #ccc;
}

input[type="radio"] {
    margin-right: 5px;
}

.subscribe-checkbox {
    margin-top: 10px;
}

button {
    background-color: #6B4B3E;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
    display: block;
    margin: 20px 0;
}

button:hover {
    background-color: #C49E85;
}

.comment-form {
    background-color: #6B4B3E;
    padding: 20px;
    color: white;
}

/* home page styling */

/* Banner Styling */
.banner {
    background-image: url('../images/rafting-banner.jpg');
    background-size: cover;
    background-position: center;
    height: 400px;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.banner-content {
    background-color: rgba(0, 0, 0, 0.5);
    /* Optional overlay */
    padding: 20px;
    border-radius: 10px;
}

.banner h1 {
    font-size: 3rem;
    margin: 0;
    animation: scroll-left 10s linear infinite;
}

@keyframes scroll-left {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(-100%);
    }
}

.call-to-action {
    display: flex;
    padding: 0.03rem 1.5rem;
    border-radius: 8px;
    text-decoration: none;
    transition: background-color 0.3s;
}

.call-to-action a {
    color: white;
    text-decoration: none;
    transition: color 0.3s;
    font-weight: bold;
}

/* Trip styling */
/* Banner Styling */
.trip-banner {
    background-image: url('../images/trip-banner.jpg');
    background-size: cover;
    background-position: center;
    height: 400px;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.trip-content {
    padding: 20px;
    border-radius: 10px;
}

.trip-content h1 {
    font-size: 7rem;
    margin-bottom: 8px;

}

.trip-content p {
    font-size: 1.2rem;
    margin-top: 0;
}

hr {
    border: 2px solid #6B4B3E;
    margin: 20px 0;
}

.essiential {
    font-size: 2rem;
    margin-left: 50px;
}

.trip-section {
    background: #f8f2f2;
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(208, 213, 138, 0.1);
}

.trip-section h2 {
    font-size: 1.8rem;
    margin: 20px;
    text-transform: uppercase;
    color: #0e2a47;
}

.section {
    padding: 20px;
}

.grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 20px;
    padding: 0 20px;
}

.card {
    border: 1px solid #ddd;
    border-radius: 6px;
    overflow: hidden;
    background: #fff;
    transition: transform 0.2s ease;
    cursor: pointer;
}

.card img {
    width: 100%;
    height: auto;
    display: block;
}

.card p {
    margin: 10px;
    font-weight: bold;
    font-size: 0.95rem;
}

.card:hover {
    transform: scale(1.03);
    box-shadow: 0 4px 10px rgba(201, 14, 14, 0.1);
}



/* Footer */
footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #6B4B3E;
    padding: 15px 20px;
    border: 1px solid #fff;
    padding-top: 20px;
    padding-bottom: 20px;
}

.footer p {
    font-size: 16px;
    color: white;
    text-align: center;
    padding-left: 30%;
}

.footer p a {
    font-size: 10px;
    color: white;
    text-align: center;
    padding-left: 20%;
}

.social-icons {
    display: flex;
    gap: 10px;
}

.social-icons img {
    width: 30px;
    height: 30px;
    transition: transform 0.3s;
}

.social-icons img:hover {
    transform: scale(1.2);
}

/* Responsive Design */
@media (max-width: 768px) {
    header {
        flex-direction: column;
        text-align: center;
    }

    nav ul {
        flex-direction: column;
        gap: 10px;
    }

    .history-content {
        flex-direction: column;
        align-items: center;
    }
}